#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p{
  margin: 0px
}


.container{
  max-width: 700px;
  text-align: left;
}


.heading-intro h1{
  margin: 0px;
}

.heading-intro{
   text-align: left;
   margin-bottom: 10px;
}

.link{
  color: #38acff;
  cursor: pointer;
  &:hover{
    color: #38acff;
    text-decoration: underline;
  }
}